/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
html,
body {
  height: 100%;
}
h1 {
  margin: 0;
  font-size: 30px;
}
#main {
  position: relative;
  height: 100%;
}
#main .header,
#main .footer {
  text-align: center;
  padding: 4px 7px;
}
[data-role="page"] {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: stretch;
  position: absolute;
}
.header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
  background: rgba(255, 255, 255, 0.4);
}
.header > .padding {
  width: 80px;
}
.header > .padding.left {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: center;
}
.header > .padding.right {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: end;
  box-align: center;
}
.header > .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.header .balance {
  margin: 0 auto;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  font-weight: bold;
}
.header .balance img {
  max-width: 20px;
  max-height: 20px;
}
.header .leave-store,
.header .back {
  background-image: url("../img/icons/close.png");
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.title {
  text-align: center;
}
.items-container {
  margin: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.buy-more {
  display: block;
  padding: 5px;
  width: 100%;
  -webkit-user-select: none;
}
.buy-more img {
  margin-right: 10px;
  max-width: 40px;
  max-height: 40px;
}
.footer {
  margin: 0 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer h1 {
  font-size: 20px;
}
.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.box-horizontal {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
#currency-store {
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
#currency-store.visible {
  opacity: 1;
}
.basic.virtualGoods.items {
  list-style-type: none;
  padding: 0;
}
.basic.virtualGoods .item {
  margin: 0 0 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.basic.virtualGoods .item .visual {
  margin: 5px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  min-width: 50px;
}
.basic.virtualGoods .item .visual img {
  max-width: 40px;
  max-height: 40px;
}
.basic.virtualGoods .item .content {
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.basic.virtualGoods .item img.currency {
  min-width: 15px;
  min-height: 15px;
  max-width: 25px;
  max-height: 25px;
}
.basic.virtualGoods .item h1 {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 2px;
}
.basic.virtualGoods .item .description {
  font-size: 11px;
}
.basic.virtualGoods .item .balance {
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.basic.virtualGoods .item .price {
  text-align: right;
  font-weight: bold;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.basic.currencyPacks.items {
  list-style-type: none;
  padding: 0;
}
.basic.currencyPacks .item {
  margin: 0 0 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.basic.currencyPacks .item .visual {
  margin: 5px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  min-width: 70px;
}
.basic.currencyPacks .item .visual img {
  max-width: 50px;
  max-height: 50px;
}
.basic.currencyPacks .item .content {
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.basic.currencyPacks .item img.currency {
  min-width: 15px;
  min-height: 15px;
  max-width: 25px;
  max-height: 25px;
}
.basic.currencyPacks .item h1 {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 2px;
}
.basic.currencyPacks .item h2 {
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 2px;
}
.basic.currencyPacks .item .buy {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
.basic.currencyPacks .item .price {
  font-weight: bold;
}
.grid.virtualGoods {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.grid.virtualGoods.items {
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.grid.virtualGoods.items .row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.grid.virtualGoods .item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 3px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.grid.virtualGoods .item .visual {
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  margin-bottom: 5px;
  min-width: 50px;
}
.grid.virtualGoods .item .visual img {
  max-width: 40px;
  max-height: 40px;
}
.grid.virtualGoods .item .content {
  text-align: center;
}
.grid.virtualGoods .item img.currency {
  min-width: 15px;
  min-height: 15px;
  max-width: 25px;
  max-height: 25px;
}
.grid.virtualGoods .item h1 {
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 2px;
}
.grid.virtualGoods .item .description {
  font-size: 13px;
}
.grid.virtualGoods .item .price {
  float: right;
  font-weight: bold;
}
.btn-basic-primary {
  background-color: #0f8a7c !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#21e7d0", endColorstr="#0e8a7c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#21e7d0), to(#0e8a7c));
  background-image: -moz-linear-gradient(top, #21e7d0, #0e8a7c);
  background-image: -ms-linear-gradient(top, #21e7d0, #0e8a7c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21e7d0), color-stop(100%, #0e8a7c));
  background-image: -webkit-linear-gradient(top, #21e7d0, #0e8a7c);
  background-image: -o-linear-gradient(top, #21e7d0, #0e8a7c);
  background-image: linear-gradient(#21e7d0, #0e8a7c);
  border-color: #0e8a7c #0e8a7c #0c7165;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
