<div class="modal">
    <div class="dialog">
        <img src="img/default/icons/close-dialog.png" class="close">

        <img src="{{description}}">

        <div class="actions">
            <img src="{{noButton}}" class="cancel">
            <img src="{{yesButton}}" class="buy-more">
        </div>
    </div>
</div>
