<div class="modal">
    <div class="dialog">
        <img src="img/default/icons/close-dialog.png" class="close">

        <img src="themes/muffinRush/img/modalDialog/AlertText_Sorry.png">
        <img src="themes/muffinRush/img/modalDialog/Crumbs.png">
        <img src="themes/muffinRush/img/modalDialog/AlertText_Question.png">

        <div class="actions">
            <img src="themes/muffinRush/img/modalDialog/No.png" class="cancel">
            <img src="themes/muffinRush/img/modalDialog/Yes.png" class="buy-more">
        </div>
    </div>
</div>
