/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
.header,
.footer {
  text-align: center;
  padding: 4px 7px;
}
.virtualGoods {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.virtualGoods.items {
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.virtualGoods.items .row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.virtualGoods .item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 3px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.virtualGoods .item .visual {
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  margin-bottom: 5px;
  min-width: 50px;
}
.virtualGoods .item .visual img {
  max-width: 40px;
  max-height: 40px;
}
.virtualGoods .item .content {
  text-align: center;
}
.virtualGoods .item img.currency {
  min-width: 15px;
  min-height: 15px;
  max-width: 25px;
  max-height: 25px;
}
.virtualGoods .item h1 {
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 2px;
}
.virtualGoods .item .description {
  font-size: 13px;
}
.virtualGoods .item .price {
  float: right;
  font-weight: bold;
}
.currencyPacks.items {
  list-style-type: none;
  padding: 0;
}
.currencyPacks .item {
  margin: 0 0 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.currencyPacks .item .visual {
  margin: 5px;
  padding: 2px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  min-width: 70px;
}
.currencyPacks .item .visual img {
  max-width: 50px;
  max-height: 50px;
}
.currencyPacks .item .content {
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.currencyPacks .item img.currency {
  min-width: 15px;
  min-height: 15px;
  max-width: 25px;
  max-height: 25px;
}
.currencyPacks .item h1 {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 2px;
}
.currencyPacks .item h2 {
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 2px;
}
.currencyPacks .item .buy {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
.currencyPacks .item .price {
  font-weight: bold;
}
.header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
  background: rgba(255, 255, 255, 0.4);
}
.header > .padding {
  width: 80px;
}
.header > .padding.left {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: center;
}
.header > .padding.right {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: end;
  box-align: center;
}
.header > .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.header .balance {
  margin: 0 auto;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  font-weight: bold;
}
.header .balance img {
  max-width: 20px;
  max-height: 20px;
}
.header .leave-store,
.header .back {
  background-image: url("../../img/default/icons/close.png");
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.title {
  text-align: center;
}
.items-container {
  margin: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.footer {
  margin: 0 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer h1 {
  font-size: 20px;
}
.footer .buy-more {
  display: block;
  padding: 5px;
  width: 100%;
  -webkit-user-select: none;
}
.footer .buy-more img {
  margin-right: 10px;
  max-width: 40px;
  max-height: 40px;
}
