<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="content clearfix">
    <h1>{{name}}</h1>
    <div class="price">{{getPrice currencyValue}} <img src="{{currency.imgFilePath}}" class="currency"></div>
</div>
