<div class="modal">
    <div class="dialog">
        <img src="img/icons/close-dialog.png" class="close">
        <span class="cancel"></span>
        <span class="buy-more"></span>
    </div>
</div>
