<div class="visual">
    <img src="examples/muffinRush/Mapit.png" class="background">
    <img src="{{imgFilePath}}" class="foreground currency">
</div>
<div class="content">
    <h1>{{name}}</h1>
    <div class="description">{{description}}</div>
</div>
<div class="price">
    <label>{{price}}</label>
</div>
