.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .box(horizontal, center, center);
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.dialog {
    width: 80%;
    position: relative;
    background: #FFFFFF;
    .rounded(8px);
    padding: 10px;
    text-align: center;
    .box-shadow(0 0 20px #000000);

    .close {
        position: absolute;
        z-index: 1;
        right: -12px;
        top: -12px;
        cursor: pointer;
    }
}