/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
.header,
.footer {
  text-align: center;
}
.items-container {
  margin: 20px 40px;
  -webkit-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  -moz-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  background-image: url("../../examples/muffinRush/InnerBG.png");
  background-size: cover;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.virtualGoods,
.currencyPacks {
  background-position: center;
}
.virtualGoods.items,
.currencyPacks.items {
  list-style-type: none;
  padding: 0;
}
.virtualGoods .item,
.currencyPacks .item {
  margin: 0 10px 10px;
  background-image: url("../../examples/muffinRush/Bar.png");
  background-position: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.virtualGoods .item.horizontal,
.currencyPacks .item.horizontal {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
}
.virtualGoods .item .visual,
.currencyPacks .item .visual {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  position: relative;
  width: 100px;
  height: 100px;
}
.virtualGoods .item .visual .foreground,
.currencyPacks .item .visual .foreground {
  position: absolute;
  z-index: 1;
  max-width: 80px;
  max-height: 80px;
  left: 10px;
  top: 10px;
}
.virtualGoods .item .visual .background,
.currencyPacks .item .visual .background {
  position: absolute;
  top: -7px;
  left: -7px;
}
.virtualGoods .item .content,
.currencyPacks .item .content {
  padding: 10px 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.virtualGoods .item img.currency,
.currencyPacks .item img.currency {
  display: block;
  max-width: 55px;
  max-height: 55px;
}
.virtualGoods .item h1,
.currencyPacks .item h1 {
  font-size: 29px;
  line-height: 29px;
  margin: 0 0 2px;
}
.virtualGoods .item .description,
.currencyPacks .item .description {
  font-size: 13px;
}
.virtualGoods .item .balance,
.currencyPacks .item .balance {
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.virtualGoods .item .price,
.currencyPacks .item .price {
  width: 55px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.currencyPacks .item .price {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: stretch;
}
.header {
  height: 183px;
  background-image: url("../../examples/muffinRush/Roof-Extended.png");
  background-position: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.header > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-top: 20px;
}
.header .balance {
  position: relative;
}
.header .balance .container {
  position: absolute;
  top: 43px;
  left: 85px;
  width: 100px;
}
.footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.footer > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.footer img {
  max-height: 105px;
}
.leave-store,
.back,
.buy-more {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.05s;
  -moz-transition: -moz-transform 0.05s;
  transition: transform 0.05s;
}
.leave-store:active,
.back:active,
.buy-more:active {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
