/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
@font-face {
  font-family: Calibri;
  src: url('fonts/calibrib.ttf');
}
@media all and (max-width: 320px) {
  body {
    zoom: 0.5;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  body {
    zoom: 0.8;
  }
}
@media all and (min-width: 720px) {
  body {
    zoom: 1.2;
  }
}
ul {
  padding: 0;
  margin: 0;
}
.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header {
  text-align: center;
}
.main-container {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: stretch;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 20px auto 0;
  width: 880px;
}
.menu li {
  float: left;
  padding: 0;
  margin: 10px;
  width: 200px;
  height: 200px;
  background: #eeeeee;
}
.item,
.header {
  background-position: center;
  background-repeat: no-repeat;
}
.items {
  list-style-type: none;
  padding: 0;
}
.item {
  padding: 10px;
  height: 100px;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
.item.expanded {
  height: 200px;
}
.item .row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
  height: 100px;
}
.item .equipped,
.item .not-equipped {
  width: 20px;
  height: 100px;
  margin: 0 10px;
}
.item .item-image {
  width: 100px;
  height: 100px;
}
.item .content {
  padding: 0 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: stretch;
}
.item h1 {
  font-size: 27px;
  line-height: 30px;
}
.item .price,
.item .buy-container {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: end;
  box-align: center;
  width: 160px;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}
.item .price img {
  width: 40px;
  height: 40px;
}
.item .buy-container img {
  width: 140px;
  height: 60px;
}
.item .description {
  padding: 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: stretch;
}
.header {
  height: 60px;
  padding: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.header .title-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.header .title-container h1 {
  text-align: center;
  font-family: Calibri;
  font-size: 60px;
}
.header .back,
.header .balance-container {
  width: 150px;
}
.header .back {
  text-align: left;
}
.header .balance-container {
  position: relative;
  text-align: right;
}
.header .balance-container .label-container {
  position: absolute;
  top: -10000px;
  left: -10000px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.pages {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.category {
  display: none;
}
.back,
.buy-more,
.cancel {
  cursor: pointer;
}
.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}
.dialog {
  width: 520px;
  height: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: stretch;
}
.dialog h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
