/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
@font-face {
  font-family: Hobo;
  src: url('fonts/HoboStd.otf');
}
.header,
.footer {
  text-align: center;
}
.items-container {
  margin: 20px 30px;
  -webkit-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  -moz-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  background-size: cover;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.virtualGoods,
.currencyPacks {
  background-position: center;
}
.virtualGoods.items,
.currencyPacks.items {
  list-style-type: none;
  padding: 0;
}
.item {
  margin: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.item .item-image {
  width: 100px;
  height: 100px;
}
.item .content {
  padding: 0 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: stretch;
}
.item h1 {
  font-size: 27px;
  line-height: 30px;
}
.item .price {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: end;
  box-align: center;
  width: 160px;
}
.item .price img {
  width: 40px;
  height: 40px;
}
.currencyPacks .item .price {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  width: 100px;
  font-size: 30px;
}
.currencyPacks .item .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}
.header {
  height: 60px;
  padding: 10px;
  background-position: center;
  background-color: #eeeeee;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.header .title-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.header .back,
.header .balance-container {
  width: 150px;
}
.header .back {
  text-align: left;
}
.header .balance-container {
  text-align: right;
}
.pages {
  background-color: #f8f8f8;
  height: 100%;
}
.pages  > div {
  height: 100%;
}
.category {
  height: 100%;
}
.footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.footer > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.footer img {
  max-height: 105px;
}
.leave-store,
.back,
.buy-more,
.cancel {
  cursor: pointer;
}
.dialog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  width: auto;
}
.dialog  > img {
  display: block;
}
.dialog .actions {
  margin-top: 10px;
}
