<div class="modal">
    <div class="dialog">
        <img src="img/default/icons/close-dialog.png" class="close">
        <h3>Not enough {{name}}</h3>
        <h4>Buy more {{name}}?</h4>
        <button class="cancel btn btn-large">No</button>
        <button class="buy-more btn btn-large btn-basic-primary">Yes</button>
    </div>
</div>
