<div class="visual">
    <img src="{{imgFilePath}}" class="currency">
    <!-- TODO: Add an image of the currency icon -->
    <h2>{{amount}}</h2>
</div>
<h1 class="content">{{name}}</h1>
<div class="buy">
    <span class="price">{{price}}$</span>
</div>
