/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*==============  Layout  ==============*/
@font-face {
  font-family: Hobo;
  src: url('../fonts/HoboStd.otf');
}
.header,
.footer {
  text-align: center;
}
.items-container {
  margin: 20px 30px;
  -webkit-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  -moz-box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  box-shadow: 0 0 0 3px #8F6C56, 0 0 0 5px #49361F, 0 0 0 8px #664F34, 0 0 0 18px #E0CCA1;
  background-image: url("img/InnerBG.png");
  background-size: cover;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: scroll;
}
.virtualGoods,
.currencyPacks {
  background-position: center;
}
.virtualGoods.items,
.currencyPacks.items {
  list-style-type: none;
  padding: 0;
}
.virtualGoods .item,
.currencyPacks .item {
  margin: 0 10px 10px;
  background-image: url("img/Bar.png");
  background-position: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.virtualGoods .item.horizontal,
.currencyPacks .item.horizontal {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
}
.virtualGoods .item .visual,
.currencyPacks .item .visual {
  position: relative;
  width: 100px;
  height: 100px;
}
.virtualGoods .item .visual .foreground,
.currencyPacks .item .visual .foreground {
  position: absolute;
  z-index: 1;
  max-width: 80px;
  max-height: 80px;
  left: 10px;
}
.virtualGoods .item .visual .img-container,
.currencyPacks .item .visual .img-container {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}
.virtualGoods .item .visual .background,
.currencyPacks .item .visual .background {
  position: absolute;
  top: -7px;
  left: -7px;
}
.virtualGoods .item .visual .balance,
.currencyPacks .item .visual .balance {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 7px;
  width: 100%;
}
.virtualGoods .item .visual .balance label,
.currencyPacks .item .visual .balance label {
  padding: 2px 6px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.virtualGoods .item .content,
.currencyPacks .item .content {
  padding: 15px 15px 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.virtualGoods .item img.currency,
.currencyPacks .item img.currency {
  display: block;
  max-width: 55px;
  max-height: 55px;
}
.virtualGoods .item h1,
.currencyPacks .item h1 {
  font-size: 27px;
  line-height: 30px;
  font-family: Hobo;
  margin: 0 0 2px;
}
.virtualGoods .item .description,
.currencyPacks .item .description {
  font-size: 14px;
  line-height: 16px;
  font-family: Helvetica;
}
.virtualGoods .item .price,
.currencyPacks .item .price {
  width: 55px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #ab744d;
  text-shadow: 2px 2px 2px #FFFFFF;
}
.currencyPacks .item .price {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  width: 100px;
  font-size: 30px;
}
.currencyPacks .item .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}
.header {
  height: 183px;
  background-image: url("img/Roof-Extended.png");
  background-position: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.header > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: center;
}
.header .balance-container .balance {
  position: relative;
}
.header .balance-container .container {
  position: absolute;
  top: 43px;
  left: 85px;
  width: 100px;
}
.footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: stretch;
}
.footer > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.footer img {
  max-height: 105px;
}
.leave-store,
.back,
.buy-more,
.cancel {
  cursor: pointer;
}
.dialog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  width: auto;
}
.dialog  > img {
  display: block;
}
.dialog .actions {
  margin-top: 10px;
}
